[project]
name = "diffusion_curvature"
version = "0.1.0"
description = "repo_description"
authors = ["Kincaid MacDonald <dev@riddle.press>"]
channels = ["conda-forge", "fastai", "pytorch", "nvidia"] # add with `pixi project channel add nvidia`
platforms = ["osx-arm64", "linux-64"] 

[tasks]
# install the library in editable mode
install = "pip install --no-build-isolation --no-deps --disable-pip-version-check --editable src"
# test the installation
import = "python -c 'import diffusion_curvature'"

## NBDev shorthands
# export code from notebooks into the library
nbsync = "nbdev_export"
# sync changes from library to notebooks
pysync = "nbdev_update"
# build docs
docmaker = "nbdev_docs"

## Experiments 
# export experiments to markdown with quarto
zettelmaker = "quarto render nbs/experiments --to gfm --no-execute --output-dir ../zettels --profile zettels"


# Standard Interfaces
jupyter = "jupyter notebook"

[dependencies]
# Common & Ubiquitous
python = "3.11.*"
numpy = "1.26.2.*"
matplotlib = "3.8.2.*"
notebook = "7.0.6.*"
scipy = "1.11.4.*"
ipykernel = "6.26.0.*"
jupyter = "1.0.0.*"
nbformat = "5.9.2.*"
pandas = "2.1.3.*"
# Literate Programming
nbdev = "2.2.10.*"
fastcore = "1.5.29.*"

# Project Specific
graphtools = "1.5.3.*"
sympy = "1.12.*"
rich = "13.7.0.*"
typer = "0.9.0.*"
pygsp = "0.5.1.*"
tqdm = "4.66.1.*"
plotly = "5.18.0.*"
pytorch = ">=2.0.0,<2.1"
lightning = "2.1.2.*"
seaborn = "0.13.0.*"
h5py = "3.10.0.*"
deepdish = ">=0.3.7,<0.4"
tabulate = ">=0.9.0,<0.10"
pot = ">=0.9.2,<0.10"
imageio = ">=2.33.1,<2.34"
marimo = ">=0.1.75,<0.2"

[pypi-dependencies]
scikit-dimension = "==0.3.*"
flax = ">=0.7.5"
tadasets = "*"
torchdyn = "*"
phate = "*"
pykeops = "*"

[target.linux-64.dependencies]
cuda-nvcc = ">=12.1.105,<12.2"
jax = ">=0.4.23,<0.5"

[target.osx-arm64.dependencies]
jax = ">=0.4.23,<0.5"
